* {
	padding: 0;
    margin: 0;
    font-family: 'Varela Round', Microsoft JhengHei,sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
html{
	font-size: 5px;
	width: 100%;
	height: 500%;
	overflow: -moz-scrollbars-none;
}
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.part{
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#part-1{
	width: 300%;
	height: 20%;
	background-color: #888;
	overflow: hidden;
}
.entrance{
	width: 100%;
	height: 100%;
	transition: transform 4s ease-in-out;
	-webkit-transition: -webkit-transform 4s ease-in-out;
	-moz-transition: -moz-transform 4s ease-in-out;
	-o-transition: -o-transform 4s ease-in-out;
	position: absolute;
	top: 400%;
	left: 0;
	background-color: #888;
}
.entrance:before, .entrance:after{
	content: ""; /*產生一個空的元素*/
	position: absolute; /*利用absolute定位*/
	display: block;
	width: 100%;
}
.entrance:before{
	top: 0;
	left: 0;
	height: 93%;
	background-image: repeating-linear-gradient(-90deg, #555, #555 2px, transparent 2px, transparent 60px),
					  repeating-linear-gradient(0deg, #555, #555 2px, transparent 2px, transparent 60px);
}
.entrance:after{
	bottom: 0;
	left: 0;
	height: 7%;
	background-image: repeating-linear-gradient(-40deg, #555, #555 2px, transparent 2px, transparent 45px),
					  repeating-linear-gradient(0deg, #555, #555 2px, transparent 2px, transparent 45px);
}
.border{
	overflow: hidden;
	width: 70%;
    height: 80%;
    background-color: #AFEEEE;
    position: absolute;
    bottom: 7%;
    left: calc(15% - 20px);
    border:20px solid transparent;
	border-image-source: url(images/border.png);
	border-image-slice:100;
	border-image-repeat: stretch;
	border-bottom: none;
}
.door{
	margin-left: -1px;
	position: relative;
	top: 0px;
	transition: top 3.5s ease-in;
	-webkit-transition: top 3.5s ease-in;
	-moz-transition: top 3.5s ease-in;
	-o-transition: top 3.5s ease-in;
	width: 100%;
	height: 50%;
	background-color: #333;
	border: 1px solid #000;
	overflow: hidden;
}
.door .head{
	width: 100%;
	text-align: center;
	color: #ccc;
	font-size: 4.5rem;
	position: absolute;
	font-family: 'Orbitron';
}
.tip{
	width: 100%;
	text-align: center;
	font-size: 3rem;
	color: #fff;
	position: absolute;
	bottom: 0.5rem;
	opacity: 1;
	-webkit-animation: twinkle 2000ms steps(1, start) infinite;
	animation: twinkle 2000ms steps(1, start) infinite;
}
@keyframes twinkle{
	0%{
		opacity: 1;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes twinkle{
	0%{
		opacity: 1;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-moz-keyframes twinkle{
	0%{
		opacity: 1;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-o-keyframes twinkle{
	0%{
		opacity: 1;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.head.-higher-top{
	bottom: 5px;
}
.head.-higher-bottom{
	top: 5px;
}
.head.-wider-top, .head.-wider-bottom{
	display: none;
}
#part-2{
	opacity:0;
	transition: opacity 1.7s 2.3s;
	-webkit-transition: opacity 1.7s 2.3s;
	-moz-transition: opacity 1.7s 2.3s;
	-o-transition: opacity 1.7s 2.3s;
}
.boy{
	position: absolute;
	z-index: 2;
	left: 20px;
	top: 50%;
	background: url(images/boy.png) no-repeat;
	background-position: -0px -0px;
	width: 50%; height: 85.2238vw;
	background-size: 100% auto;
	-webkit-animation: person-wave 1500ms steps(1, start) infinite;
	animation: person-wave 1500ms steps(1, start) infinite;
}
@keyframes person-wave {
    0% {
        background-position: -0px -0px;
    }
    10% {
        background-position: -0px -85.2238vw;
    }
    20% {
        background-position: -0px -0px;
    }
    30% {
        background-position: -0px -85.2238vw;
    }
    40% {
        background-position: -0px -0px;
    }
    60% {
        background-position: -0px -85.2238vw;
    }
    80% {
        background-position: -0px -85.2238vw;
    }
    100% {
        background-position: -0px -85.2238vw;
    }
}
@-webkit-keyframes person-wave {
    0% {
        background-position: -0px -0px;
    }
    10% {
        background-position: -0px -85.22vw;
    }
    20% {
        background-position: -0px -0px;
    }
    30% {
        background-position: -0px -85.22vw;
    }
    40% {
        background-position: -0px -0px;
    }
    60% {
        background-position: -0px -85.22vw;
    }
    80% {
        background-position: -0px -85.22vw;
    }
    100% {
        background-position: -0px -85.22vw;
    }
}
@-moz-keyframes person-wave {
    0% {
        background-position: -0px -0px;
    }
    10% {
        background-position: -0px -85.22vw;
    }
    20% {
        background-position: -0px -0px;
    }
    30% {
        background-position: -0px -85.22vw;
    }
    40% {
        background-position: -0px -0px;
    }
    60% {
        background-position: -0px -85.22vw;
    }
    80% {
        background-position: -0px -85.22vw;
    }
    100% {
        background-position: -0px -85.22vw;
    }
}
@-o-keyframes person-wave {
    0% {
        background-position: -0px -0px;
    }
    10% {
        background-position: -0px -85.22vw;
    }
    20% {
        background-position: -0px -0px;
    }
    30% {
        background-position: -0px -85.22vw;
    }
    40% {
        background-position: -0px -0px;
    }
    60% {
        background-position: -0px -85.22vw;
    }
    80% {
        background-position: -0px -85.22vw;
    }
    100% {
        background-position: -0px -85.22vw;
    }
}
.box h1{
	font-size: 4rem;
}
.wider-intro{
	display: none;
}
.box{
	width: 80%;
	height: 50%;
	position: absolute;
	left: 10%;
	top: -50%;
	border: 10px solid #777;
	background-color: #444;
	color: #fff;
	padding: 1rem;
	text-align: left;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	z-index: 1;
}
.box:after{
	content: ""; /*產生一個空的元素*/
	position: absolute; /*利用absolute定位*/
	display: block;
	width: 80px;
	height: 20px;
	border-top-left-radius:50px 20px;
	border-top-right-radius:50px 20px;
	top: -30px;
	left: calc(50% - 40px);
	background-color: #444;
}
.box:before{
	content: ""; /*產生一個空的元素*/
	position: absolute; /*利用absolute定位*/
	display: block;
	width: 40px;
	height: 40%;
	top: calc(-40% - 10px);
	left: calc(50% - 20px);
	background-image: repeating-linear-gradient(0deg, #777, #777 2px, #444 2px, #444 15px);
}
.box-remove{
	-webkit-animation: box-remove 1000ms ease-out;
	-webkit-animation-fill-mode: forwards;
	animation: box-remove 1000ms ease-out;
	animation-fill-mode: forwards;
}
@keyframes box-remove{
	from{
		top: -70%;
	}
	to{
		top: 19%;
	}
}
@-webkit-keyframes box-remove{
	from{
		top: -70%;
	}
	to{
		top: 19%;
	}
}
@-moz-keyframes box-remove{
	from{
		top: -70%;
	}
	to{
		top: 19%;
	}
}
@-o-keyframes box-remove{
	from{
		top: -70%;
	}
	to{
		top: 19%;
	}
}
.horizontal{
	position: absolute;
	top: 400%;
	left: 0;
	width: 300%; /*5個part的寬度*/
	height: 100%;
	-webkit-transition: -webkit-transform 0.8s linear;
	-moz-transition: -moz-transform 0.8s linear;
	-o-transition: -o-transform 0.8s linear;
	transition: transform 0.8s linear;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.horizontal li.part{
	list-style: none;
	float: left;
	width: 33.3%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.part.laboratory{ /*實驗室的背景設定*/
	position: relative;
	z-index: 1;
	background-color: #AFEEEE;
}
.part.laboratory:before, .part.laboratory:after{
	content: ""; /*產生一個空的元素*/
	position: absolute; /*利用absolute定位*/
	display: block;
	width: 100%;
	z-index: -1;
}
.part.laboratory:before{
	top: 0;
	left: 0;
	height: 75%;
	background-image: repeating-linear-gradient(-90deg, #fff, #fff 2px, transparent 2px, transparent 60px),
					  repeating-linear-gradient(0deg, #fff, #fff 2px, transparent 2px, transparent 60px);
}
.part.laboratory:after{
	bottom: 0;
	left: 0;
	height: 25%;
	background-image: repeating-linear-gradient(-40deg, #fff, #fff 2px, transparent 2px, transparent 45px),
					  repeating-linear-gradient(0deg, #fff, #fff 2px, transparent 2px, transparent 45px);
}
.skills-machine{
	width: 80%;
	height: 90%;
	background-color: #777;
	padding: 2% 1% 0% 1%;
	margin: 0 auto;
	box-shadow:1px -2px 0px #555,2px -3px 0px #555,3px -4px 0px #555,4px -5px 0px #555,5px -6px 0px #555,6px -7px 0px #555,7px -8px 0px #555,8px -9px 0px #555,9px -10px 0px #555;
	position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	top: 5%;
	overflow: hidden;
}
.skill-title {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 3px solid #ccc;
  color: #fff;
}
.skill-list{
  display: inline-block;
  width: 97.5%;
  margin-bottom: 2.22%;
  padding: 1rem;
  text-align: left;
  list-style: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #333;
}
.skill-level {
  width: 0;
  margin-top: 1rem;
  color: #fff;
  font-size: 2rem;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  background-color: #d84f5f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.radiator-box{
	display: inline-block;
	background-color: #333;
	width: 97.5%;
}
.radiator-box:before{
	content: "";
	display: block;
	width: 90%;
	margin: 0 auto;
	background-image: repeating-linear-gradient(0deg, transparent, transparent 12%, #777 12%, #777 15%);
}
.radiator-box .radiator{
	display: none;
}
.wider{
	width: 100%;
	height: 100%;
}
.vertical{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.vertical>li.part{
	width: 100%;
    height: 20%;
}
.factory{  /*作品集停放火箭工廠的背景設定*/
	background-color: #777;
	background-image: url(images/factory.png);
	position: relative;
	z-index: 0;
}
.rocket-body-1:before, .rocket-body-2:before, .rocket-top:before, .rocket-bottom:before{ /*before 用於火箭較大的底色主體*/
	content: "";
	position: absolute;
	display: block;
	width: 70%;
	left: 15%;
    background-image: linear-gradient(to right, #dedede 70%,#b8bac6 100%);
	border: 5px solid #333;
	border-top: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	z-index: 1;
}
.rocket-body-1:before, .rocket-body-2:before{
	height: 100%;
	top: 0;
}
.rocket-top:before{
	height: 65%;
	bottom: 0;
	border-top: 5px solid #333;
}
.rocket-bottom:before{
	height: 85%; /*75*/
}
.rocket-bottom:after{
	border: 5px solid #333;
	border-top: 0;
	height: 10% !important; /*18*/
	top: 85%; /*75*/
	background-image: repeating-linear-gradient(-90deg, #333 , #333 5px, #777 5px, #777 20px);
}
.fire{
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
/*	border-width: 0 19vw 20vh 19vw;*/
	border-color: transparent transparent #333 transparent;
}
.fire.-left{
	left: 10%;
}
.fire.-right{
	left: 52%;
}
.work{
	position: absolute;
	bottom: 5%;
	left: 25%;
	width: 50%;
	height: 50vw;
	background-color: #fff;
	border: 5px solid #333;
	z-index: 3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}
.rocket-top:after, .rocket-bottom:after, .rocket-body-1:after, .rocket-body-2:after{
	content: "";
	position: absolute;
	display: block;
	width: 70%;
	height: 25%;
	left: 15%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.rocket-top:after{  /*火箭頭製作三角形*/
	top: 0;
	z-index: 2;
	width: 0;
	height: 0;
	border-style: solid;
/*	border-width: 0 35% 35% 35%;*/
	border-color: transparent transparent rgb(236,32,39) transparent;
}
.rocket-body-1:after{
	top: 0;
	z-index: 2;
	background-image: repeating-linear-gradient(-180deg, rgb(236,32,39) , rgb(236,32,39)  20px, transparent 20px, transparent 40px);
	border-left: 5px solid #333;
	border-right: 5px solid #333;
}
.rocket-body-2:after{
	border: 5px solid #333;
	border-top: 0;
	top: 0;
	z-index: 2;
	background-image: repeating-linear-gradient(-90deg, #333 , #333 5px, rgb(236,32,39)  5px, rgb(236,32,39)  20px);
}
.work img{
	width: 100%;
	height: auto;
}
.rocket-bottom .work{
	bottom: 20%;
}
.work.-circle{
	border-radius: 50%;
}
.iron{
	display: none;
}
.info-box{
	width: 80%;
	position: absolute;
	left: 10%;
	top: -50%;
	border: 10px solid rgb(89,138,170);
	background-color: rgb(69,101,128);
	color: #fff;
	padding: 1rem;
	text-align: left;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	z-index: 3;
}
.info-box:before, .info-box:after{
	content: ""; /*產生一個空的元素*/
	position: absolute; /*利用absolute定位*/
	display: block;
	width: 12.5%;
/*	height: 10vh;*/
	background: repeating-linear-gradient(0deg, rgb(89,138,170) , rgb(89,138,170) 5px, rgb(69,101,128)  5px, rgb(69,101,128)  20px);
/*	top: calc(-10vh - 10px);*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	z-index: -1;
}
.info-box:before{
	left: 12.5%;
}
.info-box:after{
	right: 12.5%;
}
.info-move{
	-webkit-animation: info-move 600ms ease-out;
	-webkit-animation-fill-mode: forwards;
	animation: info-move 600ms ease-out;
	animation-fill-mode: forwards;
}
@keyframes info-move{
    0% {
        top: -50%;
    }
    100% {
        top: 10%;
    }
}
@-webkit-keyframes info-move{
    0% {
        top: -50%;
    }
    100% {
        top: 10%;
    }
}
@-moz-keyframes info-move{
    0% {
        top: -50%;
    }
    100% {
        top: 10%;
    }
}
@-o-keyframes info-move{
    0% {
        top: -50%;
    }
    100% {
        top: 10%;
    }
}
.info-less-move{
	-webkit-animation: info-less-move 600ms ease-out;
    -webkit-animation-fill-mode: forwards;
    animation: info-less-move 600ms ease-out;
    animation-fill-mode: forwards;
}
@keyframes info-less-move{
    0% {
        top: -50%;
    }
    100% {
        top: 5%;
    }
}
@-webkit-keyframes info-less-move{
    0% {
        top: -50%;
    }
    100% {
        top: 5%;
    }
}
@-moz-keyframes info-less-move{
    0% {
        top: -50%;
    }
    100% {
        top: 5%;
    }
}
@-o-keyframes info-less-move{
    0% {
        top: -50%;
    }
    100% {
        top: 5%;
    }
}
.name{
	font-size: 4rem;
	font-weight: bold;
}
.info, .skills{
	font-size: 3.5rem;
	padding-top: 1rem;
}
.info i{
	display: none;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background: url(images/caution-sign.png) no-repeat;
	background-size: 1.5rem;
	margin-right: 2px;
}
.skills .icon{
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background: url(images/construction-hammer-.png) no-repeat;
	background-size: 1.5rem;
	margin-right: 2px;
}
.space{
	width: 100%;
	height: 100%;
	background-image: url(images/earth.png), url(images/space.png);
	background-repeat: no-repeat, repeat-x;
	background-position: left bottom, left;
	background-size:50% auto, auto 100%;
}
.contact-box{
	position: absolute;
	padding-top: 20%;
	height: 50%;
	width: 80%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	top: 10px;
	right: 0;
	background-image: url(images/moon.png);
	background-repeat: no-repeat;
	background-size: 80% auto;
	background-position: center top;
}
.contact-title{
	font-weight: normal;
	font-family: 'Pacifico', cursive;
	font-size: 3.8rem;
	opacity: 0;
	transition:opacity 1.5s 1.4s;
	-webkit-transition:opacity 1.5s 1.4s;
	-moz-transition:opacity 1.5s 1.4s;
	-o-transition:opacity 1.5s 1.4s;
}
.contact-item{
	display: inline-block;
	list-style: none;
	font-size: 2rem;
	font-weight: bold;
	line-height: 2.2rem;
	padding-left: 2.2rem;
	background: url(images/gmail.png) no-repeat left center;
	background-size: 2rem;
	opacity: 0;
	transition:opacity 1.5s 1.4s;
	-webkit-transition:opacity 1.5s 1.4s;
	-moz-transition:opacity 1.5s 1.4s;
	-o-transition:opacity 1.5s 1.4s;
}
.rocket{
	position: absolute;
	bottom: 0;
	transform: rotate(45deg) scale(0.1);
	-webkit-transform: rotate(45deg) scale(0.1);
	-moz-transform: rotate(45deg) scale(0.1);
	-o-transform: rotate(45deg) scale(0.1);
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	z-index: 1;
	transition: all 1500ms linear;
	-webkit-transition: all 1500ms linear;
	-moz-transition: all 1500ms linear;
	-o-transition: all 1500ms linear;
}
@media screen and (min-width: 480px) {
	html{
		font-size: 15px;
	}
}