* {
	padding: 0;
    margin: 0;
    font-family: 'Varela Round', Microsoft JhengHei,sans-serif;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#part-2{
	opacity:0;
	transition: opacity 1.7s 2.3s;
	-webkit-transition: opacity 1.7s 2.3s;
	-moz-transition: opacity 1.7s 2.3s;
	-o-transition: opacity 1.7s 2.3s;
}
.boy{
	position: absolute;
	left: calc(25vw - 168px);
	top: 20px;
	background: url(images/boy.png) no-repeat;
	background-position: -0px -0px;
	width: 335px; height: 571px;
	animation-name: person-wave;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, start);
}
@keyframes person-wave {
    0% {
        background-position: -0px -0px;
    }
    10% {
        background-position: -0px -571px;
    }
    20% {
        background-position: -0px -0px;
    }
    30% {
        background-position: -0px -571px;
    }
    40% {
        background-position: -0px -0px;
    }
    60% {
        background-position: -0px -571px;
    }
    80% {
        background-position: -0px -571px;
    }
    100% {
        background-position: -0px -571px;
    }
}
.box h1{
	line-height: 2em;
}
.higher-intro{
	display: none;
}
.box{
	width: 40vw;
	height: 70vh;
	position: absolute;
	right: 10vw;
	top: -70vh;
	border: 10px solid #777;
	background-color: #444;
	color: #fff;
	padding: 1em;
	text-align: left;
	box-sizing:border-box;
}
.box:after{
	content: ""; /*產生一個空的元素*/
	position: absolute; /*利用absolute定位*/
	display: block;
	width: 110px;
	height: 30px;
	border-top-left-radius:55px 30px;
	border-top-right-radius:55px 30px;
	top: -40px;
	left: calc(20vw - 55px);
	background-color: #444;
}
.box:before{
	content: ""; /*產生一個空的元素*/
	position: absolute; /*利用absolute定位*/
	display: block;
	width: 40px;
	height: 20vh;
	top: calc(-20vh - 10px);
	left: calc(20vw - 20px);
	background-image: repeating-linear-gradient(0deg, #777, #777 2px, #444 2px, #444 15px);
}
.box-remove{
	animation-name: box-remove;
    animation-duration: 1000ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}
@keyframes box-remove{
	from{
		top: -70vh;
	}
	to{
		top: 20vh;
	}
}
.horizontal{
	position: absolute;
	top: 0;
	left: 0;
	width: 300%; /*5個part的寬度*/
	height: 100%;
	-webkit-transition: -webkit-transform 1.2s linear;
	-moz-transition: -moz-transform 1.2s linear;
	-o-transition: -o-transform 1.2s linear;
	transition: transform 1.2s linear;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.part{
	text-align: center;
	box-sizing: border-box;
}
.horizontal li.part{
	list-style: none;
	float: left;
	width: 33.33%;
	height: 100%;
}
.entrance{
	background-color: #888;
	overflow: hidden;
	transition: transform 4s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
}
.entrance:before, .entrance:after{
	content: ""; /*產生一個空的元素*/
	position: absolute; /*利用absolute定位*/
	display: block;
	width: 100%;
}
.entrance:before{
	top: 0;
	left: 0;
	height: 93%;
	background-image: repeating-linear-gradient(-90deg, #555, #555 2px, transparent 2px, transparent 60px),
					  repeating-linear-gradient(0deg, #555, #555 2px, transparent 2px, transparent 60px);
}
.entrance:after{
	bottom: 0;
	left: 0;
	height: 7%;
	background-image: repeating-linear-gradient(-40deg, #555, #555 2px, transparent 2px, transparent 45px),
					  repeating-linear-gradient(0deg, #555, #555 2px, transparent 2px, transparent 45px);
}
.border{
	overflow: hidden;
	width: 70%;
    height: 500px;
    background-color: #AFEEEE;
    position: absolute;
    bottom: 7vh;
    left: calc(15% - 20px);
    border:20px solid transparent;
	border-image-source: url(images/border.png);
	border-image-slice:100;
	border-image-repeat: stretch;
	border-bottom: none;
}
.door{
	margin-left: -1px;
	position: relative;
	top: 0px;
	transition: top 3.5s ease-in;
	width: 100%;
	height: 50%;
	background-color: #333;
	border: 1px solid #000;
	overflow: hidden;
}
.door .head{
	width: 100%;
	text-align: center;
	color: #ccc;
	font-size: 4.5em;
	position: absolute;
	font-family: 'Orbitron';
}
.tip{
	width: 100%;
	text-align: center;
	font-size: 2em;
	color: #fff;
	position: absolute;
	bottom: 0.5em;
	opacity: 1;
	animation-name: twinkle;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, start);
}
@keyframes twinkle{
	0%{opacity: 1;}25%{opacity: 0;}50%{opacity: 1;}75%{opacity: 0;}100%{opacity: 1;}
}
.head.-wider-top{
	bottom: -0.6em;
}
.head.-wider-bottom{
	top: -0.7em;
}
.head.-higher-top, .head.-higher-bottom{
	display: none;
}
.part.laboratory{ /*實驗室的背景設定*/
	position: relative;
	z-index: 1;
	background-color: #AFEEEE;
}
.part.laboratory:before, .part.laboratory:after{
	content: ""; /*產生一個空的元素*/
	position: absolute; /*利用absolute定位*/
	display: block;
	z-index: -1;
	width: 100%;
}
.part.laboratory:before{
	top: 0;
	left: 0;
	height: 75%;
	background-image: repeating-linear-gradient(-90deg, #fff, #fff 2px, transparent 2px, transparent 60px),
					  repeating-linear-gradient(0deg, #fff, #fff 2px, transparent 2px, transparent 60px);
}
.part.laboratory:after{
	bottom: 0;
	left: 0;
	height: 25%;
	background-image: repeating-linear-gradient(-40deg, #fff, #fff 2px, transparent 2px, transparent 45px),
					  repeating-linear-gradient(0deg, #fff, #fff 2px, transparent 2px, transparent 45px);
}
.skills-machine{
	width: 80%;
	height: 85%;
	background-color: #777;
	padding: 1%;
	margin: 0 auto;
	box-shadow:1px -2px 0px #555,2px -3px 0px #555,3px -4px 0px #555,4px -5px 0px #555,5px -6px 0px #555,6px -7px 0px #555,7px -8px 0px #555,8px -9px 0px #555,9px -10px 0px #555;
	position: relative;
	box-sizing: border-box;
	top: 5vh;
}
.skill-title {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 3px solid #ccc;
  color: #fff;
}
.skill-list{
  float: left;
  width: 24.5%; /*total:75vw*/
  margin-right: 0.5%;
  height: 60%;
  padding: 1em;
  text-align: left;
  list-style: none;
  box-sizing: border-box;
  background-color: #333;
}
.skill-level {
  width: 0;
  color: #fff;
  font-size: 1.1em;
  margin-top: 10px;
  height: 1.7em;
  line-height: 1.7em;
  overflow: hidden;
  background-color: #d84f5f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.radiator-box{
	width: 100%;
	margin-top: 30%; /*80*0.37*/
	height: 37%;
}
.radiator{
	float: left;
	list-style: none;
	margin-right: 0.5%;
	width: 24.5%;
	height: 100%;
	box-sizing: border-box;
	border: 5px solid #333;
	background-color: #333;
}
.radiator:before{
	content: "";
	display: block;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	background-image: repeating-linear-gradient(0deg, transparent, transparent 12%, #777 12%, #777 15%);
}
.vertical{
	width: 100%;
	height: 400%;
	position: absolute;
	left: 0;
	-webkit-transition: -webkit-transform 1.2s linear;
	-moz-transition: -moz-transform 1.2s linear;
	-o-transition: -o-transform 1.2s linear;
	transition: transform 1.2s linear;
	-webkit-transform: translate3d(0,-100%,0);
	-moz-transform: translate3d(0,-100%,0);
	-o-transform: translate3d(0,-100%,0);
	-ms-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
	z-index: -1;
}
.vertical>li.part{
	height: 25%;
	width: 100%;
}
.factory{  /*作品集停放火箭工廠的背景設定*/
	background-color: #777;
	background-image: url(images/factory.png);
	position: relative;
	z-index: 0;
}
.rocket-body-1:before, .rocket-body-2:before, .rocket-top:before, .rocket-bottom:before{ /*before 用於火箭較大的底色主體*/
	content: "";
	position: absolute;
	display: block;
	width: 25%;
	left: 37.5%;
    background-image: linear-gradient(to right, #dedede 70%,#b8bac6 100%);
	border: 5px solid #333;
	border-top: 0px;
	box-sizing: border-box;
	z-index: 1;
}
.rocket-body-1:before, .rocket-body-2:before{
	height: 100vh;
	top: 0;
}
.rocket-top:before{
	height: 65vh;
	bottom: 0;
	border-top: 5px solid #333;
}
.rocket-bottom:before{
	height: 75vh;
}
.rocket-top:after, .rocket-bottom:after, .rocket-body-1:after, .rocket-body-2:after{
	content: "";
	position: absolute;
	display: block;
	width: 25%;
	height: 25vh;
	left: 37.5%;
	box-sizing: border-box;
}
.rocket-top:after{  /*火箭頭製作三角形*/
	top: 0;
	z-index: 2;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 12.5vw 35vh 12.5vw;
	border-color: transparent transparent rgb(236,32,39) transparent;
}
.rocket-body-1:after{
	top: 0;
	z-index: 2;
	background-image: repeating-linear-gradient(-180deg, rgb(236,32,39) , rgb(236,32,39)  20px, transparent 20px, transparent 40px);
	border-left: 5px solid #333;
	border-right: 5px solid #333;
}
.rocket-body-2:after{
	border: 5px solid #333;
	border-top: 0;
	top: 0;
	z-index: 2;
	background-image: repeating-linear-gradient(-90deg, #333 , #333 5px, rgb(236,32,39)  5px, rgb(236,32,39)  20px);
}
.rocket-bottom:after{
	border: 5px solid #333;
	border-top: 0;
	height: 18vh;
	top: 75vh;
	background-image: repeating-linear-gradient(-90deg, #333 , #333 5px, #777 5px, #777 20px);
}
.space{
	position: relative;
	background-image: url(images/earth.png), url(images/space.png);
	background-repeat: no-repeat, repeat-x;
	background-position: left bottom, left;
	background-size:20% auto, auto 100%;
}
.contact-box{
	position: absolute;
	padding-top: 16%;
	height: 100%;
	width: 50%;
	box-sizing: border-box;
	top: 10px;
	right: 0;
	background-image: url(images/moon.png);
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: center top;
}
.contact-title{
	font-weight: normal;
	font-family: 'Pacifico', cursive;
	font-size: 3.8em;
	opacity: 0;
	transition-delay: 1.4s;
	transition-property:opacity;
	transition-duration:1.5s;
}
.contact-item{
	display: inline-block;
	list-style: none;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 2em;
	padding-left: 1.7em;
	background: url(images/gmail.png) no-repeat left center;
	background-size: 1.5em;
	opacity: 0;
	transition-delay: 1.4s;
	transition-property:opacity;
	transition-duration:1.5s;
}
.rocket{
	position: absolute;
	left: 10%;
	bottom: 50px;
	transform: rotate(60deg) scale(0.1);
	transform-origin: 50% 100%;
	z-index: 99;
}
.rocket-move{
	animation-name: rocket-move;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
@keyframes rocket-move{
	0%{
		left: 70px;
		bottom: 10px;
		transform: rotate(60deg) scale(0.1);
	}
	100%{
		left: 257px;
		bottom: 120px;
		transform: rotate(60deg) scale(1);
	}
}
.work{
	position: absolute;
	top: 40%;
	left: 41%;
	width: 18vw;
	height: 18vw;
	background-color: #fff;
	border: 5px solid #333;
	z-index: 3;
	box-sizing: border-box;
	overflow: hidden;
}
.work img{
	width: 100%;
	height: auto;
	transition: all 0.3s ease;
}
.work-link:hover img {
  transform: scale(1.2);
  -webkit-filter: brightness(0.3);
}
.rocket-top .work{
	top: 45%;
}
.rocket-bottom .work{
	top: 20%;
}
.work.-circle{
	border-radius: 50%;
}
.iron{
	position: absolute;
	top: 0;
	left: 14%;
	height: 100vh;
	width: 15vw;
	background-image: url(images/iron-2.png);
	background-size: 15vw;
}
.fire{
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7vw 20vh 7vw;
	border-color: transparent transparent #333 transparent;
}
.fire.-left{
	left: 35%;
}
.fire.-right{
	left: 51%;
}
.info-box{
	width: 25vw;
	height: 70vh;
	position: absolute;
	right: -30vw;
	top: 15vh;
	border: 20px solid rgb(89,138,170);
	background-color: rgb(69,101,128);
	color: #fff;
	padding: 2em;
	text-align: left;
	box-sizing:border-box;
}
.info-box:before, .info-box:after{
	content: ""; /*產生一個空的元素*/
	position: absolute; /*利用absolute定位*/
	display: block;
	width: 10vw;
	height: 40px;
	background: repeating-linear-gradient(-90deg, rgb(89,138,170) , rgb(89,138,170) 5px, rgb(69,101,128)  5px, rgb(69,101,128)  20px);
	right: -10vw;
	box-sizing:border-box;
	z-index: -1;
}
.info-box:before{
	top: 16vh;
}
.info-box:after{
	bottom: 16vh;
}
.info-move{
	animation-name: info-move;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes info-move{
    0% {
        right: -30vw;
    }
    100% {
        right: 5vw;
    }
}
.name{
	font-size: 1.5em;
	font-weight: bold;
}
.info, .skills{
	line-height: 1.5em;
	font-size: 1.2em;
	padding-left: 1.2em;
	padding-top: 1.2em;
}
.info i{
	display: inline-block;
	width: 1em;
	height: 1em;
	background: url(images/caution-sign.png) no-repeat 0px 1px;
	background-size: 1em;
	margin-left: -1.2em;
	margin-right: 2px;
}
.skills .icon{
	display: inline-block;
	width: 1em;
	height: 1em;
	background: url(images/construction-hammer-.png) no-repeat 0px 1px;
	background-size: 1em;
	margin-left: -1.2em;
	margin-right: 2px;
}
@media screen and (max-width: 480px) {
	html{
		font-size: 5px;
	}
}